/* Universal Selector */
*{
    margin: 0;
    padding: 0;
}
/* Element Selector 
h1{
   color: brown; 
}

p{
    color: blue;
}
*/

/* Class Selector */

.pra{
    color:coral;
}

.hello{
    font-size: 60px;
}

/* id selector */

#id1{
    color:whitesmoke ;
    background-color: black;
}

/* Selector List */

.class1 , .class7 , .class10{
    
}